<!DOCTYPE html>    
<html>    
<head>    
    <title>Register Form</title>    
    <link rel="stylesheet" href="/static/style.css">    
</head>    
<body>    
    <h2>Register Page</h2><br>    
    <div class="container">    
    <form>    
        <label><b>Username     
        </b>    
        </label>    
        <input type="text" name="Uname">    
        <br><br>
        <label><b>Password    
        </b>    
        </label>    
        <input type="password" name="pass">    
        <br><br>    
        <label><b>First Name     
        </b>    
        </label>    
        <input type="text" name="Fname">    
        <br><br>    
        <label><b>Middle Name     
        </b>    
        </label>    
        <input type="text" name="Mname">    
        <br><br>  
        <label><b>Last Name     
        </b>    
        </label>    
        <input type="text" name="Lname">    
        <br><br>  
        <button type="button">Register</button>
        <br><br>
        <a href="/login"><button type="button">Cancel</button></a>
 
    </form>     
</div>    
</body>    
</html> 